@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply pl-2;
  }
  textarea {
    @apply pl-2;
  }
}

@layer components {
  .table-header {
    @apply px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
